.boundary {
  padding: 0;
  width: 100%;
  height: 2.2rem;
  user-select: none;
}

.range-body {
  margin-left: 0.1rem;
  width: 98%;
  height: 0.1rem;
  background-color: rgba(0,0,0,.26);
  border-radius: 4px;
  position: relative;
  top: 0.5rem;
}

.knob-container {
  padding: 0;
  display: flex;
}

.slider-knob {
  width: 1rem;
  height: 1rem;
  cursor: grab;
  background:rgb(255, 215, 64);
  z-index: 1;
  border-radius: 50%;
}

.slider-knob:active {
  box-shadow: 0 2px 4px rgba(2, 2, 2, 0.267), 0 1px 2px rgba(2, 2, 2, 0.267);
  height: 1.05rem;
  width: 1.05rem;
}

.rigth-knob {
  margin-left: auto;
}

.left-knob {
  margin-right: auto;
}

.knob-label {
  color: rgba(0, 0, 0, 0.795);
  position: relative;
  top: 1rem;
  left: 0.12rem;
}
