.container {
  margin: 1rem;
}
.mat-card-container {
  margin: 1rem;
}

.mat-card-item {
  width: 20rem;
  margin-bottom: 20px;
}

.error-message {
  background-color: rgba(255, 0, 0, 0.24);
  color: rgba(255, 0, 0, 0.589);
  height: 2rem;
  padding: 2rem;
  border-radius: 4px;
}
