:host {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  overflow: auto;
  white-space: nowrap;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16), 0 3px 8px rgba(0, 0, 0, 0.23);
  width: 100%;
}
