.card {
  border-radius: 20px;
}

img {
  position: relative;
  width: 100%;
  height: 10vw;
  object-fit: contain;
  cursor: pointer;
  margin: auto;
  border-radius: 15px;
}

img:hover {
  transform: scale(1.1);
}

.img-container {
  padding: 10px;
}

.title-container {
  margin-left: -2rem;
  height: 5.5rem;
}

.title {
  font-weight: bolder;
}

.content {
  height: 4.5rem;
}

.footer {
  padding: 1rem;
  font-weight: bolder;
}

.bolder {
  font-weight: 600;
}
