.container {
  width: 100%;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.radius {
  border-radius: 20px;
}

.main-img {
  width: 100%;
  max-width: 50rem;
  max-height: 45rem;
  height: auto;
  transition: visibility 0s 2s, opacity 2s linear;
}

.preview-img {
  max-width: 10rem;
  max-height: 10rem;
  height: auto;
  margin: 1rem;
  cursor: pointer;
}

.preview-container {
  background-color: #fff;
}

.disable-user-select {
  user-select: none; /* Standard syntax */
}

.icon {
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  margin: 2rem;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  transition: box-shadow 0.1s ease-in-out;
}

.icon:hover {
  transform: scale(1.3);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.16), 0 6px 8px rgba(0, 0, 0, 0.23);
}

.icon:active {
  transform: scale(1);
  background-color: rgba(235, 235, 235, 0.918);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
