.input-wrapper {
  position: relative;
  padding: 0.5rem 0 1.2rem;

  .input {
    position: relative;
    margin: 0;

    input {
      padding-bottom: 0.4rem;
      width: 100%;
      height: 1.5rem;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      overflow: hidden;
      outline: 0;
      cursor: pointer;
      font-size: 1.03rem;
    }

    .dropdown-arrow {
      position: absolute;
      right: 0;
      bottom: 0;
      cursor: pointer;
    }
  }
}

.dropdown-options-container {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
  display: block;
  overflow: auto;
}

.highlight {
  color: #ffd740;
}

.no-highlight {
  color: #323232;
}
