label {
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
}

// hiding the original radiobutton
label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.circle {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0.05rem;
  left: 0;
  width: 0.9rem;
  height: 0.9rem;
  border: 2px solid rgba(0, 0, 0, 0.589);
  border-radius: 50%;
  cursor: pointer;
}

label:hover .circle {
  box-shadow: 0 0 0 0.4rem rgba(0, 0, 0, 0.05);
}

.circle:after {
  position: absolute;
  display: none;
  content: '';
}

label input:checked ~ .circle:after {
  display: block;
}

label .circle:after {
  top: 0.15rem;
  left: 0.15rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: rgb(255, 214, 64, 1);
}

label input:checked ~ .circle {
  border: 2px solid rgb(255, 214, 64, 1);
  animation: onClickAnimation 0.3s linear;
}

@keyframes onClickAnimation {
  0% {
    box-shadow: 0 0 0 0.1rem rgba(255, 214, 64, 0.1);
  }
  50% {
    box-shadow: 0 0 0 0.25rem rgba(255, 214, 64, 0.2);
  }
  100% {
    box-shadow: 0 0 0 0.4rem rgba(255, 214, 64, 0.4);
  }
}
